* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  height: 100%;
  text-align: center;
  background: #313131;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:active,
a:hover {
  outline-width: 0;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

p {
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #5e646a;
  font-family: 'Poppins', sans-serif;
}

blockquote:before,
hero-decor-let span {
  color: #e00c12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

section {
  position: relative;
  float: left;
  width: 100%;
  padding: 80px 0 69px;
  background: #fff;
  overflow: hidden;
}

section {
  padding: 80px 0 0px;
}

section {
  z-index: 1;
}

img {
  vertical-align: middle;
}

img {
  border-style: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

a {
  text-decoration: none;
  position: relative;
  color: #000;
}

a {
  background-color: transparent;
}

a {
  color: inherit;
}
html {
    scroll-behavior: smooth;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

